####################
# Intellij Config #
###################
*.iml
*.ipr
*.iws
*.ids
.idea
.idea/**/*
###########################
# Project Intellij Config #
###########################
module_*.xml
#server.properties
#server.xml
jdbcLocal.properties

################
# maven config #
################
target
logs
data/

.DS_Store
###################
# Netbeans config #
###################
lib
nbactions.xml
nb-configuration.xml
catalog.xml

*.log

####################
# Compression file #
####################
*.zip
*.rar

####################
# Mockup file #
####################
INita-Mockup


####################
# Jasper Report    #
####################
*.jasper

./INita-Repository/src/main/resources/jdbcLocal.properties
